@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    
}

/* colors */
:root {
    --hover-color: rgb(135, 135, 196);
    --link-color: rgb(215, 215, 218);
    --box-hover: rgb(41, 53, 156);
}

body {
    background-image: linear-gradient(rgb(101, 107, 163),rgb(13, 16, 66));
    color: var(--link-color);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


.projects, .nav, .archive {
    display: block;
}

h1:not(.side h1) {
    text-align: center;
}

/* css styling for links */
.nav:link, .projects:link  {
    text-decoration:none;
    color: var(--link-color);
}
.nav:visited, .projects:visited {
    text-decoration: none;
    color: var(--link-color);
}
.nav:hover, .projects:hover {
    text-decoration:none;
    color: var(--hover-color);
}
.nav:active, .projects:active {
    text-decoration: none;
}

a {
    color: var(--link-color);
}
a:hover {
    color: var(--hover-color);
}


table,tr,th,td {
    padding: 1rem;
}



li {
    list-style-position: inside;
}



main::-webkit-scrollbar {
    display:none;
}


main h2 {
    padding-bottom: 20px;
}



#nav {
    line-height: 1.5em;
}

.archive {

    padding: 50px;
}

.archive table {
    margin-left: auto;
    margin-right: auto;
}

.projects figure {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.hover {
    padding-top: 10px;
    padding-bottom: 10px;
}
.hover:hover {
    border: 2px solid var(--box-hover);
    background-color: var(--box-hover);
    border-radius: 10px;
    
}

img {
    border-radius: 10px;
    max-width: 100px;
    max-height: 150px;
}

/* Css styling only for website */
@media only screen and (min-width: 768px) {

    body {
            font-size: 20px;
    }

    
    .index {
        display: flex;    
    }
    .side {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding: 50px;
    
    }
    h2 {
    padding-bottom: 20px;
    
}
    div:(.passenger) {
    padding-top: 50px;
}

main {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    height: 100vh;
    padding: 50px;
    line-height: 1.5em;
    
}

section {
    padding-bottom: 200px;
}

}


/* Css styling for mobile */
@media only screen and (max-width: 766px) {
.side h1, .side h2, .side a {
    text-align: center;
}

.side a:active {
    background-color: rgb(44, 50, 153);
}

.side .icon {
    display: block;
    text-align: center;
    width: 100%;
}

.side {
    height: 40%;
    padding: 10px;
}


div {
    padding-top: 10px;
}

body {
    overflow: hidden;
    font-size: 15px;
    height: 100vh;
}


main {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    height: 60%;
    padding: 50px;
    line-height: 1.5em;
    position: fixed; 
    
}

section {
    padding-bottom: 50px;
}



}





